<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanks for your message</title>
    <%- include ('partials/headerLinks.html')%>
</head>
<body>
    <%- include ('partials/nav.html')%>

    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animate__animated  animate__flip">
                    <div class="card-header bg-dark text-center text-white">
                        <h3>Contact me</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <h3><%= email %> </h3>
                            <br>
                            <p> Thamk you  for your message !!!</p>
                            <br/>
                            <a href="/"> go to home..</a>
                        </div>
                    </div>
                </div>                                            
            </div>
    
        </div>
    </div>
    
    
    
</body>
</html>